<% content_for :title, "Editing compute request" %>

<div class="max-w-2xl mx-auto">
  <h1 class="font-bold text-4xl">Editing Request</h1>

  <%= render "form", compute_request: @compute_request %>

  <div class="mt-2 space-y-2">
    <%= link_to "Show this request", @compute_request,
                class: "block w-full text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
    <%= link_to "Back to compute requests", compute_requests_path,
                class: "block w-full text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
  </div>
</div>
